*{
	text-align: center;
	font-family: sans-serif;
}
body {
	background-color: #778FA4;
}
a{
	text-decoration: none;
	color: #DDEEF8;
}
table {
    border-spacing: 10px;
	background-color: #778FA4;
	text-align: center;
    margin: auto;
}
footer{
	margin-top: 1.5em;
	text-align: right;
	background-color: #264E70;
	padding-top: 1em;
	padding-bottom: 0.5em;
	width: 101.1%;
	margin-left: -0.5em;
}
footer p{
	text-align: right;
	font-weight: bold;
	margin-right: 0.5em;
}